<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"><!-- set character encoding for the document -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>FilmFlix</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="handheldFriendly" content="true">

  <meta name="application-name" content="FilmFlix"><!-- Name of web application (only should be used if the website is used as an app) -->
  <meta name="language" content="English"><!-- Language of your app -->
  <meta name="robots" content="index,follow"><!-- Control the behavior of search engine crawling and indexing -->
  <meta name="googlebot" content="index,follow"><!-- Control the behavior of search engine crawling and indexing -->
  <meta name="classification" content="business">
  <meta name="url" content=""><!-- URL of your app -->
  <meta name="rating" content="General"><!-- Gives a general age rating based on sites content -->
  <link rel="author" href="Mario Buendia Varela"><!-- Links to the author of the document (usually humans.txt) -->

  <!-- Favicons -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <div id="root"></div>
</body>
</html>
